#board {
  position:relative;
  margin: auto;
  background: url("../image/radar-illustration-sinking-ships.png") no-repeat;
  width: 1024px;
  height: 863px;
 }

#messageBoard {
	position: absolute;
	top: 0px;
	left: 0px;
	color: white;
	font-size: 30px;
}
table {
	position: absolute;
	left: 173px;
	top:98px;
	border-spacing: 0px;
}
td {
	width: 94px;
	height: 94px;
	border-style: solid;
	background: rgba(255,255,255, 0.4)
}

.hit {
	background: url("battleship-target-pics.gif") no-repeat center center;
	background-color: red;

}
.miss {
	background: url("Missed_1.png") no-repeat center center;
	background-color: gray;
}

h1, h2, label {
	font-size: 40px;
	font-style: bold;
	text-align: center;
	color: white;
}
.00 {
	font-size: 30px;
	color: white;
	text-align: left;
}

body {
	background-color: gray;
	
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
footer {
	color: white;
}
.problem {
	text-align:center
}
.enclose {
	position:fixed;
	bottom:0px;
	width:100%;
}
.layout {
	color: red;
}

   